.b{
	background-color: black;
}
p{
	display: inline-block;
}
*{margin:0px; padding:0;}
.wrapper{width:960px;
	margin:20px auto;}

.box img{
	width: 300px;
	height: 180px;
}
.box h2{
	color: #FFB800;
}

.box p{
	text-align: justify;
}

.box{
	width: 300px;
	float: left;
	margin-right: 20px;
}
.box a{
	height: 20px;
	text-decoration: none;
	background-color: orange;
	text-align: center;
	color:  #000; 
	margin: 0 auto;
	display: block;
}

.box a:hover{
	color: #fff;
	background: #000;
}
.nomargin{margin-right: 0;}